# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.gfm':
  'screenshot directions table':
    'prefix': 'sdtable'
    'body': """
      | Directions | Screenshots |
      | :--- | --- |
      |  | ![]() |
      |  | ![]() |
    """

'.source.shell':
  'check sudo':
    'prefix': 'checksudo'
    'body': """
      if [ "$(id -u)" != "0" ]; then
        echo "This script must have elevated priveliges.  Please use sudo." 2>&1
        exit 1
      fi
    """
  'add help':
    'prefix': 'addhelp'
    'body': """
      if [ "${1}" = "-h" ]; then
        echo "Usage: function [args]"
        echo "usage expanded."
        return
      fi
    """

'.source.python':
  'check sudo':
    'prefix': 'checksudo'
    'body': """
      from os import geteuid
      def check_euid():
          if geteuid() != 0:
              exit("You need to have root privileges to run this script.  Exiting.")
    """
